* {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.CircularProgressbar .CircularProgressbar-text {
    font-weight: 700;
}


.CircularProgressbar .CircularProgressbar-trail {
    opacity: 0.2;
}